server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://localhost:25432/memelandiadb
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
